@namespace AtomyWeb.Components
<div class="carousel-item @(Active ? "active" : "")">
    <div class="review">
        <p>@Text</p>
        <strong>— @Author</strong>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; }

    [Parameter, EditorRequired]
    public string Author { get; set; }

    [Parameter]
    public bool Active { get; set; }
}