@page "/Terms"
<html>
<body>
    <h1>Политика обработки персональных данных</h1>

    <p>1. Общие положения</p>
    <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Тамбовцев Андрей Вячеславович (далее — Оператор).</p>
    <ol>
        <li>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
        <li>Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://atomyabsolute.ru.</li>
    </ol>

    <p>2. Основные понятия, используемые в Политике</p>
    <dl>
        <dt>2.1. Автоматизированная обработка персональных данных</dt>
        <dd>обработка персональных данных с помощью средств вычислительной техники.</dd>
        <dt>2.2. Блокирование персональных данных</dt>
        <dd>временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</dd>
        <dt>2.3. Веб-сайт</dt>
        <dd>совокупность графических и информационных материалов ... по сетевому адресу https://atomyabsolute.ru.</dd>
        <dt>2.4. Информационная система персональных данных</dt>
        <dd>совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку IT.</dd>
        <dt>2.5. Обезличивание персональных данных</dt>
        <dd>действия, в результате которых невозможно определить принадлежность персональных данных.</dd>
        <dt>2.6. Обработка персональных данных</dt>
        <dd>любое действие ... включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение.</dd>
        <dt>2.7. Оператор</dt>
        <dd>юридическое или физическое лицо, организующее и/или осуществляющее обработку персональных данных.</dd>
        <dt>2.8. Персональные данные</dt>
        <dd>любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю.</dd>
        <dt>2.9. Персональные данные, разрешенные для распространения</dt>
        <dd>персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом.</dd>
        <dt>2.10. Пользователь</dt>
        <dd>любой посетитель веб-сайта.</dd>
        <dt>2.11. Предоставление персональных данных</dt>
        <dd>действия, направленные на раскрытие персональных данных определенному лицу.</dd>
        <dt>2.12. Распространение персональных данных</dt>
        <dd>действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</dd>
        <dt>2.13. Трансграничная передача персональных данных</dt>
        <dd>передача персональных данных на территорию иностранного государства.</dd>
        <dt>2.14. Уничтожение персональных данных</dt>
        <dd>действия, в результате которых персональные данные уничтожаются безвозвратно.</dd>
    </dl>

    <p>3. Основные права и обязанности Оператора</p>
    <ul>
        <li>Оператор имеет право: получать достоверную информацию; продолжать обработку без согласия в случаях, предусмотренных законом; определять меры по защите.</li>
        <li>Оператор обязан: предоставлять информацию по запросу субъекта; организовывать обработку согласно законодательству; отвечать на обращения; иные обязанности по Закону.</li>
    </ul>

    <p>4. Основные права и обязанности субъектов персональных данных</p>
    <ul>
        <li>Субъекты имеют право: получать информацию; требовать уточнения, блокирования или уничтожения; обжаловать действия оператора.</li>
        <li>Субъекты обязаны: предоставлять достоверные данные; сообщать об изменениях.</li>
    </ul>

    <p>5. Принципы обработки</p>
    <ol>
        <li>Законность и справедливость.</li>
        <li>Ограничение целями.</li>
        <li>Только необходимые данные.</li>
        <li>Точность и актуальность.</li>
        <li>Срок хранения по целям обработки.</li>
    </ol>

    <p>6. Цели обработки персональных данных</p>
    <table class="table">
        <thead><tr><th>Цель</th><th>Данные</th><th>Правовые основания</th><th>Виды обработки</th></tr></thead>
        <tbody>
            <tr><td>информирование Пользователя посредством отправки электронных писем</td><td>фамилия, имя, отчество; электронный адрес; телефон; дата и место рождения; ИНН</td><td>152-ФЗ</td><td>сбор, запись, систематизация, хранение, отправка писем, передача третьим лицам</td></tr>
        </tbody>
    </table>

    <p>7. Условия обработки</p>
    <ul>
        <li>По согласию субъекта.</li>
        <li>Необходимость для договорных и правовых целей.</li>
        <li>Судебные и законодательные основания.</li>
        <li>Публичные данные.</li>
    </ul>

    <p>8. Порядок сбора, хранения и других видов обработки</p>
    <p>Оператор обеспечивает сохранность персональных данных и принимает меры для защиты.</p>
    <ul>
        <li>Не передаёт третьим лицам, за исключением случаев по закону или с согласия.</li>
        <li>В случае неточностей субъект может направить уведомление на andrtamb@mail.ru.</li>
        <li>Срок обработки — до достижения целей или иных сроков.</li>
        <li>Субъект может отозвать согласие посредством электронной почты andrtamb@mail.ru.</li>
        <li>Сторонние сервисы хранят данные согласно своим политикам.</li>
    </ul>
</body>
</html>
